# Hub
APP_URL=http://localhost:8080
APP_SECRET=supersecretkey # Use: openssl rand -base64 42

# Agent
HUB_URL=http://hub:8080
AUTH_TOKEN=supersecrettoken # Create a token in the Hub UI and use it here
